

body{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: justify;
font-size: 1rem;
line-height: 2rem;
word-spacing: 0;
padding-left: 15%;
padding-right: 15%;

}

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}


.ALL{
margin-top: 40px;
}


h1{
font-family: inherit;
margin-bottom: 5px;
margin-top: 10px;
font-size: 1.5rem;
word-spacing: 0;
font-weight: bold;
text-align: justify;


}

p{
font-size: 1rem;
word-spacing: 1;
text-align: justify;
}

.container{
max-width: 200%;
max-height: 200%;
margin-top: 3rem;
margin-left: auto;
margin-right: auto;


}


.image{
position: relative;
display: block;
margin-left: auto;
margin-right: 15%;
border-image: auto;



}


.image img{
    height: 100vh;
    width: 70vh;
    align-items: center;
    

}
.imagehover{
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.5ease;
}

.imagehover:hover{
opacity: 1;
}

.quote{
text-align: center;
position: relative;
font-style: italic;

}

.cite{
text-align: center;
font-size: 1rem;
}



a{
background-color: lightpink;
}
a:hover{
opacity: 1;
color: orange;
font-size: 1.5rem;
}





@media screen and (max-width:700px){
body{
max-width: 500px;
max-height: 500px;
}
.container{
display: block;
flex-wrap: wrap;
max-width: 100%;
height: auto;
flex: 100%;
}

}










