

body{
font-family: Georgia, 'Times New Roman', Times, serif;
text-align: justify;
font-size: 1rem;
line-height: 2rem;
word-spacing: 0;

}

*{
margin: 0;
padding-left: 10vh;
padding-right: 10vh;
box-sizing: border-box;
}


.ALL{
margin-top: 40px;
}

h1{
font-family: inherit;
margin-bottom: 5px;
margin-top: 10px;
font-size: 1.5rem;




}

.container{
max-width: 300%;
max-height: 300%;
align-items: center;
margin-top: 3rem;

}

.image{
position: relative;
display: block;


}


.image img{
    height: 100vh;
    width: 100vh;
    

}
.imagehover{
position: absolute;
top: 0;
left: 0;
opacity: 0;
transition: opacity 0.5ease;
}

.imagehover:hover{
opacity: 1;
}

.cite{
text-align: center;
position: relative;



}
a{
background-color: lightpink;
}
a:hover{
opacity: 1;
color: orange;
font-size: 1.5rem;
}
cite{
font-style: italic;
}



@media screen and (max-width:700px){
body{
max-width: 500px;
max-height: 500px;
}
.image{
display: block;
flex-wrap: wrap;
max-width: 100%;
height: auto;
flex: 100%;
}

.inside{
max-width: 300%;
height: auto;
flex: 200%;

}


}










